body {
margin: 0;
font-family: Arial, sans-serif;
}

.navbar {
display: flex;
align-items: center;
background-color: #333;
padding: 1rem 2rem;
color: white;
position: sticky;
top: 0;
width: 100%;
}

.nav-logo {
font-size: 1.5rem;
font-weight: bold;
}

.nav-links {
list-style: none;
display: flex;
gap: 2rem;
margin: 10px;
margin-left: 250px;
padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
font-size: 1rem;
}

.nav-links a:hover {
color: #4CAF50;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    font-family: sans-serif;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name {
    margin: 15px 0 5px 0;
}
.role {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}
.bio {
    font-size: 14px;
}
.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}